@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bruno+Ace+SC&family=Cinzel+Decorative:wght@400;700&family=Cinzel:wght@400;500&family=Diphylleia&family=Fredoka:wght@400;500&family=Lora:wght@400;500&family=Manrope:wght@300;400&family=Moirai+One&family=Monoton&family=Montserrat:wght@400;500;600&family=Outfit:wght@400;500;600&family=Quicksand:wght@400;500&family=Raleway:wght@400;500&family=Righteous&family=Roboto:wght@400;500&family=Rubik+Pixels&family=Sedgwick+Ave+Display&family=Ysabeau+SC:wght@300;400&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  
}
.border-Black {
  @apply border border-black/10 
}

.focus{
  @apply outline-none focus:scale-110 transition hover:scale-110  hover:bg-white opacity-90 active:scale-105 cursor-pointer 
}